.editable {
  width: 100%;

  .editable-display {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .editable-edit {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input, textarea {
      border-radius: 3px;
      outline: none;
      border: 1px solid #1379ed;
      padding: 10px;
      font-size: 1rem;
    }
    .app-boards-board-add{
      display: none;
    }
  }
  .editable-edit-footer {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  button {
    outline: none;
    border: none;
    color: #fff;
    background-color: #1379ec;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 200ms;

    &:hover {
      background-color: #0765d1;
    }
  }
  svg {
    cursor: pointer;
  }
}
