.board {
  min-width: 290px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .board-top {
    display: flex;

    .board-top-title {
      flex: 1;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: dodgerblue;
      gap: 5px;
    }

    .board-top-more {
      position: relative;
    }
    &:hover {
      color: red;
    }
  }

  .board-cards {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 10px;
    gap: 10px;
    overflow-y: auto;

    .board-cards-add {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);

      &:hover {
        box-shadow: 1px 2px 0 1px #ccc;
      }
    }
  }
}
