.card {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: 1px 3px 0 1px #ccc;
  }

  .card-top {
    display: flex;
    justify-content: flex-end;
    .card-labels {
      flex: 1;
      display: flex;
      gap: 10px;
    }
    svg:hover{
      color: red;
    }
  }

  .card-info {
    display: flex;
    flex-direction: column;
    svg {
      width: 14px;
      height: 14px;
    }
    .card-title {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .card-desc {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .card-time {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
